<mosaic-col lg="12">
  <mosaic-table striped bordered hover>
    <table>
      <thead>
      <tr>
        <th scope="col">Report Name</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <th scope="col" class="table-actions">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let report of reports">
        <td>{{report.name}}</td>
        <td class="status-{{report.status | lowercase}}" [ngSwitch]="report.status">
          <svg *ngSwitchCase="'Success'" class="icon" width="24" height="24"><use xlink:href='#check' href='#check'></use></svg>
          <svg *ngSwitchCase="'Failed'" class="icon" width="24" height="24"><use xlink:href='#cross' href='#cross'></use></svg>
          {{report.status}}
        </td>
        <td>{{report.datetime}}</td>
        <td>
          <mosaic-button color="advanced">{{'COMMON.EXPORT' | translate}}</mosaic-button>
      </tr>
      </tbody>
    </table>
  </mosaic-table>
</mosaic-col>
