@import '../../../../libs/common';

.footer {
  height: $footer-height;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;

  .footer-logo, .footer-text {
    margin-left: 15px;
  }
}
