<div id="error-wrapper">
  <div id='content'>
    <div class="logo">
      <img src="../../../../assets/images/advanced-horizontal.svg" alt="Advanced" class="img-responsive">
    </div>
    <div id="icon">
      <img src="../../../../assets/images/nothing.svg" alt="nothing found" class="img-responsive">
    </div>
    <h4>Hmm. Something's not quite right... We can't find that page!</h4>
    <p>If you're worried, get in contact with our
      <a href="https://www.oneadvanced.com/customer-support/">support team.</a>
    </p>
    <button (click)="goBack()" class="back-btn">Take me back</button>
  </div>
</div>
